#  comparing two tables and printing which are matched values and unmatched values and extra values
table1 = [
    (1, "Sandeep"),
    (2, "Giri"),
    (4, "Ajay"),
    (5, "Sumit"),
    (6, "Roy")
]

table2 = [
    (1, "Sandeep"),
    (2, "giri"),
    (3, "Avinash"),
    (4, "Ajay"),
]

# Strategy 1
#For every record in table1 try finding a record in table2 - O(n**2)

# Strategy 2
#Assumption - the data is sorted by id O(n)

In [1]:
table1 = [
    (1, "Sandeep"),
    (2, "Giri"),
    (4, "Ajay"),
    (5, "Sumit"),
    (6, "Roy")
]

table2 = [
    (1, "Sandeep"),
    (2, "giri"),
    (3, "Avinash"),
    (4, "Ajay"),
]
print(print(f"Comparing: \n{table1}\n{table2}"))
i,j=0,0
while i< len(table1) and j <len(table2):
    if table1[i][0] == table2[j][0]:
        if table1[i][1]== table2[j][1]:
            print(f"rows are matching:" ,i,j)
        else:
            print("rows are not matching:",i,j)
        i+=1
        j+=1
    elif table1[i][0] < table2[j][0]:
        print("row missing in right",table1[i][0])
        i+=1
    else:
        print("row is missing in left",table2[j][0])
        j+=1
label=''
if i<len(table1):
    lable="left"
    rem=table1
    li=i
else:
    label="right"
    rem=table2
    li=j
while li< len(rem):
    print("extra row:",label,rem[li][1])
    li+=1

Comparing:
[(1, 'Sandeep'), (2, 'Giri'), (4, 'Ajay'), (5, 'Sumit'), (6, 'Roy')]
[(1, 'Sandeep'), (2, 'giri'), (3, 'Avinash'), (4, 'Ajay')]
None
rows are matching: 0 0
rows are not matching: 1 1
row is missing in left 3
rows are matching: 2 3
extra row:  Sumit
extra row:  Roy

In [3]:
arr = ['rows are matching: 0 0',
'rows are not matching: 1 1',
'row is missing in left 3',
'rows are matching: 2 3',
'extra row:  Sumit',
'extra row:  Roy']
import json
with open(zookeeper.txt,"w+") as f:
    datas=json.dumps(zookeeper)
    f.write(str(datas))

NameError: name 'zookeeper' is not defined